name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  checks:
    runs-on: ubuntu-latest

    # Only use stable for now.
    strategy:
      matrix:
        toolchain:
          - stable
          #- beta
          #- nightly

    steps:
    - uses: actions/checkout@v3
    - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}

    - name: Verify project manifest
      run: cargo verify-project --verbose

    - name: Check build
      run: cargo check --verbose --all-targets --all-features

    - name: Build and run tests
      run: cargo test --verbose --all-targets --all-features

    - name: Check correct rustfmt formatting
      run: cargo fmt --verbose --all --check

    - name: Check clippy warnings
      run: cargo clippy --verbose --all-targets --all-features -- --deny warnings

    - name: Build documentation
      run: cargo doc --verbose --all-features --no-deps --document-private-items
      env: 
        RUSTDOCFLAGS: "-Dwarnings"
